<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Hanes Test Application Test Suite">
  <test  name="Hanes Test Cases">
	  <classes> 
		  <class name="com.hanes.qa.testclasses.HomePageTest"></class>
		 <!--  <class name="com.hanes.qa.testclasses.ABCdTest"></class>
		  --> 
	  </classes>
  
  </test>
</suite> 
